<h1>Error de pagina</h1>
<li>

    <ul>

        <a [routerLink]="[ '/Authenticaion/Login' ]">Login</a>
    </ul>
    <ul>

        <a [routerLink]="[ '/Authenticaion/Registro' ]">Registro</a>
    </ul>


    <ul>

        <a [routerLink]="[ '/Heroes/listado' ]">listado heroes</a>
        </ul>
    
        <ul>

            <a [routerLink]="[ '/Heroes/agregar' ]">Agregar heroes</a>
            </ul>
    
            <ul>

                <a [routerLink]="[ '/Heroes/idHeroe' ]"> id heroes</a>
                </ul>
    
                <ul>

                    <a [routerLink]="[ '/Heroes/buscar' ]">buscar heroes</a>
                    </ul>
                    <ul>

                        <a [routerLink]="[ '/Heroes/editar/:id' ]">editar heroes</a>
                        </ul>
                                
            


</li>